<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no"
      name="viewport"
    />
    <title>Login &mdash; Admin K-Means</title>

    <!-- General CSS Files -->
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='template/modules/bootstrap/css/bootstrap.min.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='template/modules/fontawesome/css/all.min.css')}}"
    />

    <!-- CSS Libraries -->
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='template/modules/bootstrap-social/bootstrap-social.css')}}"
    />

    <!-- Template CSS -->
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='template/css/style.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='template/css/components.css')}}"
    />
    <!-- Start GA -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-94034622-3"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "UA-94034622-3");
    </script>
    <!-- /END GA -->
  </head>

  <body>
    <div id="app">
      <section class="section">
        <div class="container mt-5">
          <div class="row">
            <div
              class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4"
            >
              <div class="card card-primary">
                <h3 class="text-center mt-4">ADMIN K-MEANS </h3>
                <div class="card-header">
                  <h4>Login</h4>
                </div>
                <div class="card-body">
                  {% with messages = get_flashed_messages(with_categories=true)
                  %} {% if messages %}
                  <div>
                    {% for category, message in messages %}
                    <div class="alert alert-danger">{{ message }}</div>
                    {% endfor %}
                  </div>
                  {% endif %} {% endwith %}
                  <form
                    method="POST"
                    action="/login"
                    class="needs-validation"
                    novalidate=""
                  >
                    <div class="form-group">
                      <label for="email">Username</label>
                      <input
                        id="username"
                        name="username"
                        class="form-control"
                        tabindex="1"
                        placeholder="Username"
                        required
                        autofocus
                      />
                      <div class="invalid-feedback">
                        Please fill in your email
                      </div>
                    </div>

                    <div class="form-group">
                      <div class="d-block">
                        <label for="password" class="control-label"
                          >Password</label
                        >
                        
                      </div>
                      <input
                        id="password"
                        type="password"
                        class="form-control"
                        name="password"
                        tabindex="2"
                        required
                        placeholder="*********"
                      />
                      <div class="invalid-feedback">
                        please fill in your password
                      </div>
                    </div>

                    <div class="form-group">
                      <div class="custom-control custom-checkbox">
                        <input
                          type="checkbox"
                          name="remember"
                          class="custom-control-input"
                          tabindex="3"
                          id="remember-me"
                        />
                        <label class="custom-control-label" for="remember-me"
                          >Remember Me</label
                        >
                      </div>
                    </div>

                    <div class="form-group">
                      <button
                        type="submit"
                        class="btn btn-primary btn-lg btn-block"
                        tabindex="4"
                      >
                        Login
                      </button>
                    </div>
                  </form>
                </div>
              </div>

              <div class="simple-footer">Copyright &copy; Jody Binalombangan</div>
            </div>
          </div>
        </div>
      </section>
    </div>

    <!-- General JS Scripts -->
    <script src="{{url_for('static',filename='modules/jquery.min.js')}}"></script>
    <script src="{{url_for('static',filename='modules/popper.js')}}"></script>
    <script src="{{url_for('static',filename='modules/tooltip.js')}}"></script>
    <script src="{{url_for('static',filename='modules/bootstrap/js/bootstrap.min.js')}}"></script>
    <script src="{{url_for('static',filename='modules/nicescroll/jquery.nicescroll.min.js')}}"></script>
    <script src="{{url_for('static',filename='modules/moment.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/stisla.js')}}"></script>

    <!-- JS Libraies -->

    <!-- Page Specific JS File -->

    <!-- Template JS File -->
    <script src="{{url_for('static',filename='js/scripts.js')}}"></script>
    <script src="{{url_for('static',filename='js/custom.js')}}"></script>
  </body>
</html>
